/* src/styles/styles.css */
.login-container {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    background-color: #f4f4f4;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  .register-link {
    text-align: center;
    margin-top: 10px;
  }
  
  .register-link a {
    color: #4CAF50;
    text-decoration: none;
  }
  
  .register-link a:hover {
    text-decoration: underline;
  }
  /* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

/* Menú de navegación */
header .menu {
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}

.menu .logo-container {
  display: inline-block;
  padding: 10px;
}

.menu .logo {
  height: 50px;
}

.menu nav {
  display: flex;
  align-items: center;
}

.menu .link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #333;
  padding: 10px;
  margin: 0 15px;
  border-radius: 8px;
}

.menu .link:hover {
  background-color: #ddd;
}

.menu .icon {
  margin-right: 10px;
  height: 30px;
}

.menu .title {
  font-size: 16px;
}

/* Contenedor del formulario de registro */
.login-container {
  max-width: 600px;
  margin: 50px auto;
  padding: 30px;
  background-color: #c3c3c3;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.login-container h2 {
  text-align: center;
  margin-bottom: 30px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.form-group select {
  cursor: pointer;
}

.btn-login {
  width: 100%;
  padding: 10px;
  background-color: #707a85;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.btn-login:hover {
  background-color: #50555a;
}
